Repository cloudoperators/juno, pull requests merged in 2024-10, with the labels that each got.

#448 fix(ui): fix placement for ContextMenu content
  .changeset/fluffy-zoos-smell.md
  packages/ui-components/src/components/ContextMenu/ContextMenu.component.js
  packages/ui-components/src/components/ContextMenu/ContextMenu.stories.js
  packages/ui-components/src/components/MenuItem/MenuItem.stories.js
Labels: ui-components

#461 feat(template): add new shiny template app
  .changeset/warm-points-cheer.md
  .husky/pre-commit
  apps/template/.gitignore
  apps/template/CHANGELOG.md
  apps/template/LICENSE
  apps/template/README.md
  apps/template/__mocks__/client.js
  apps/template/__mocks__/fileMock.js
  apps/template/__mocks__/styleMock.js
  apps/template/babel.config.js
  apps/template/esbuild.config.js
  apps/template/eslint.config.mjs
  apps/template/index.html
  apps/template/jest.config.js
  apps/template/package.json
  apps/template/postcss.config.mjs
  apps/template/public/favicon-16x16.png
  apps/template/public/favicon-32x32.png
  apps/template/public/index.html
  apps/template/secretProps.template.json
  apps/template/setupTests.js
  apps/template/src/App.test.js
  apps/template/src/App.tsx
  apps/template/src/AppContent.js
  apps/template/src/assets/.gitkeep
  apps/template/src/assets/favicon.ico
  apps/template/src/components/AppContent.tsx
  apps/template/src/components/StoreProvider.js
  apps/template/src/components/WelcomeVIew.test.tsx
  apps/template/src/components/WelcomeView.tsx
  apps/template/src/hooks/.gitkeep
  apps/template/src/index.js
  apps/template/src/index.tsx
  apps/template/src/lib/store/createGlobalsSlice.js
  apps/template/src/lib/store/createGlobalsSlice.test.js
  apps/template/src/lib/store/index.js
  apps/template/src/store/index.ts
  apps/template/src/styles.scss
  apps/template/tailwind.config.js
  apps/template/tailwind.config.mjs
  apps/template/tsconfig.json
  apps/template/turbo.json
  apps/template/vite.config.ts
  apps/template/vitest.config.ts
  apps/template/vitest.setup.ts
  docs/getting-started.md
  package-lock.json
  package.json
Labels: enhancement, app

#490 chore(message-provider): convert to typescript
  .changeset/lemon-spies-invent.md
  package-lock.json
  packages/messages-provider/babel.config.json
  packages/messages-provider/eslint.config.mjs
  packages/messages-provider/package.json
  packages/messages-provider/rollup.config.js
  packages/messages-provider/setupTests.js
  packages/messages-provider/src/@types/cloudoperators__juno-ui-components.d.ts
  packages/messages-provider/src/Messages.test.tsx
  packages/messages-provider/src/Messages.tsx
  packages/messages-provider/src/index.js
  packages/messages-provider/src/index.ts
  packages/messages-provider/src/useMessageStore.js
  packages/messages-provider/src/useMessageStore.test.tsx
  packages/messages-provider/src/useMessageStore.tsx
  packages/messages-provider/tsconfig.json
  packages/messages-provider/vite.config.ts
  packages/messages-provider/vitest.config.ts
  packages/messages-provider/vitest.setup.ts
Labels: package

#491 feat(carbon): create a carbon app, our future greehouse dashboard
  .github/workflows/ci-title-lint-check.yaml
  apps/carbon/.gitignore
  apps/carbon/LICENSE
  apps/carbon/README.md
  apps/carbon/eslint.config.mjs
  apps/carbon/index.html
  apps/carbon/package.json
  apps/carbon/postcss.config.mjs
  apps/carbon/src/App.tsx
  apps/carbon/src/assets/favicon.ico
  apps/carbon/src/components/AppContent.tsx
  apps/carbon/src/components/WelcomeVIew.test.tsx
  apps/carbon/src/components/WelcomeView.tsx
  apps/carbon/src/index.tsx
  apps/carbon/src/store/index.ts
  apps/carbon/tailwind.config.mjs
  apps/carbon/tsconfig.json
  apps/carbon/turbo.json
  apps/carbon/vite.config.ts
  apps/carbon/vitest.config.ts
  apps/carbon/vitest.setup.ts
  commitlint.config.js
  package-lock.json
Labels: greenhouse, app

#495 chore(infra): activate local turbo cache
  .husky/pre-push
  apps/carbon/package.json
  apps/doop/package.json
  apps/example/package.json
  apps/greenhouse/apps/cluster-admin/package.json
  apps/greenhouse/apps/org-admin/package.json
  apps/greenhouse/apps/plugin-admin/package.json
  apps/greenhouse/apps/secret-admin/package.json
  apps/greenhouse/apps/team-admin/package.json
  apps/greenhouse/package.json
  apps/heureka/package.json
  apps/supernova/package.json
  apps/template/package.json
  package.json
  packages/communicator/package.json
  packages/k8s-client/package.json
  packages/messages-provider/package.json
  packages/oauth/package.json
  packages/template/package.json
  packages/ui-components/package.json
  packages/url-state-provider/package.json
  packages/url-state-router/package.json
  packages/utils/package.json
  turbo.json
Labels: enhancement

#489 chore(greenhouse): adds temporary fix to forward default initial filters to the applications
  .changeset/hungry-dryers-invent.md
  .gitignore
  apps/greenhouse/src/hooks/useApi.js
Labels: greenhouse, app

#488 feat(supernova): remove auth and pass initial filters per appProp
  .changeset/rich-doors-rescue.md
  apps/greenhouse/.gitignore
  apps/supernova/README.md
  apps/supernova/docker/Dockerfile
  apps/supernova/docker/README.md
  apps/supernova/docker/appProps.sample.json
  apps/supernova/package.json
  apps/supernova/secretProps_sample.js
  apps/supernova/src/App.test.js
  apps/supernova/src/components/AsyncWorker.jsx
  apps/supernova/src/components/silences/RecreateSilence.jsx
  apps/supernova/src/components/silences/SilenceNew.jsx
  apps/supernova/src/components/silences/SilenceScheduled.jsx
  apps/supernova/src/hooks/useAppStore.js
  apps/supernova/src/hooks/useCommunication.js
  apps/supernova/src/lib/createAuthDataSlice.js
  apps/supernova/src/lib/createFiltersSlice.js
  apps/supernova/src/lib/createFiltersSlice.test.js
  apps/supernova/src/lib/createGlobalsSlice.js
Labels: supernova

#486 chore(doop): remove auth and pass initial filters per appProp
  .changeset/heavy-ears-count.md
  apps/doop/README.md
  apps/doop/docker/index.html
  apps/doop/src/App.jsx
  apps/doop/src/components/AsyncWorker.jsx
  apps/doop/src/components/AuthProvider.jsx
  apps/doop/src/components/StoreProvider.jsx
  apps/doop/src/components/violations/ViolationDetailsList.jsx
  apps/doop/src/hooks/useCommunication.js
  apps/doop/src/hooks/useUrlState.js
  apps/doop/src/lib/store/createAuthDataSlice.jsx
  apps/doop/src/lib/store/createDataSlice.jsx
  apps/doop/src/lib/store/createFiltersSlice.jsx
  apps/doop/src/lib/store/createFiltersSlice.test.jsx
  apps/doop/src/lib/store/index.js
Labels: doop

#499 chore(heureka): migrate to vite/vitest
  .github/workflows/deploy-pr-preview.yaml
  apps/heureka/.gitignore
  apps/heureka/README.md
  apps/heureka/__mocks__/client.js
  apps/heureka/__mocks__/fileMock.js
  apps/heureka/__mocks__/graphql-request.js
  apps/heureka/__mocks__/styleMock.js
  apps/heureka/appProps.template.json
  apps/heureka/babel.config.js
  apps/heureka/esbuild.config.js
  apps/heureka/helpers/appProps.js
  apps/heureka/index.html
  apps/heureka/jest.config.js
  apps/heureka/package.json
  apps/heureka/public/index.html
  apps/heureka/setupTests.js
  apps/heureka/src/App.jsx
  apps/heureka/src/App.test.jsx
  apps/heureka/src/components/CustomAppShell.jsx
  apps/heureka/src/components/StoreProvider.jsx
  apps/heureka/src/components/filters/FilterPills.jsx
  apps/heureka/src/components/filters/FilterSelect.jsx
  apps/heureka/src/components/filters/Filters.jsx
  apps/heureka/src/components/issueMatches/IssueMatchesDetails.jsx
  apps/heureka/src/components/issueMatches/IssueMatchesListItem.jsx
  apps/heureka/src/components/issueMatches/IssueMatchesView.jsx
  apps/heureka/src/components/services/ServicesDetails.jsx
  apps/heureka/src/components/services/ServicesListItem.jsx
  apps/heureka/src/components/services/ServicesView.jsx
  apps/heureka/src/components/shared/ListController.jsx
  apps/heureka/src/components/shared/PanelManager.jsx
  apps/heureka/src/components/shared/constants.js
  apps/heureka/src/hooks/useQueryClientFn.js
  apps/heureka/src/hooks/useUrlState.js
  apps/heureka/src/img/app_bg_example.svg
  apps/heureka/src/img/favicon-16x16.png
  apps/heureka/src/img/favicon-32x32.png
  apps/heureka/src/img/favicon.ico
  apps/heureka/turbo.json
  apps/heureka/vite.config.ts
  apps/heureka/vitest.config.ts
  apps/heureka/vitest.setup.ts
  package-lock.json
Labels: heureka

#352 feat(ui): fixes Pagination inconsistencies. Adds disabled and loading state
  .changeset/silver-carrots-work.md
  packages/ui-components/src/components/Pagination/Pagination.component.js
  packages/ui-components/src/components/Pagination/Pagination.stories.js
  packages/ui-components/src/components/Pagination/Pagination.test.js
Labels: ui-components

#465 feat(ui): update Portal
  packages/ui-components/src/components/Modal/Modal.stories.js
  packages/ui-components/src/components/PortalProvider/PortalProvider.component.js
  packages/ui-components/src/components/PortalProvider/PortalProvider.stories.js
  packages/ui-components/src/components/PortalProvider/PortalProvider.test.js
  packages/ui-components/src/components/PortalProvider/index.js
Labels: ui-components

#504 chore(carbon): refactor navigation
  apps/carbon/package.json
  apps/carbon/src/App.tsx
  apps/carbon/src/assets/greenhouse_logo.svg
  apps/carbon/src/assets/juno_default_app.svg
  apps/carbon/src/assets/juno_doop.svg
  apps/carbon/src/assets/juno_heureka.svg
  apps/carbon/src/assets/juno_supernova.svg
  apps/carbon/src/components/AppContent.tsx
  apps/carbon/src/components/Navigation/Navigation.test.tsx
  apps/carbon/src/components/Navigation/Navigation.tsx
  apps/carbon/src/components/Navigation/index.ts
  apps/carbon/src/styles.scss
  apps/carbon/src/types/index.d.ts
  apps/carbon/vite.config.ts
  apps/carbon/vitest.config.ts
  package-lock.json
Labels: app

#500 fix(supernova): filters invalid keys from initialFilters
  .changeset/sharp-crews-wonder.md
  apps/supernova/src/lib/createFiltersSlice.js
  apps/supernova/src/lib/createFiltersSlice.test.js
Labels: supernova

#497 feat(docs): adds greenhouse architecture description
  docs/proposals/003_greenhouse.md
Labels: documentation

#512 chore(infra): streamline npm tasks
  check-concurrency.sh
  package.json
  turbo.json
Labels: enhancement, infrastructure

#513 chore(ui): migrate PortalProvider to Typescript
  .changeset/pink-rabbits-allow.md
  packages/ui-components/src/components/AppShellProvider/AppShellProvider.component.js
  packages/ui-components/src/components/ComboBox/ComboBox.component.js
  packages/ui-components/src/components/ComboBox/ComboBox.stories.js
  packages/ui-components/src/components/ContextMenu/ContextMenu.stories.js
  packages/ui-components/src/components/Form/Form.stories.js
  packages/ui-components/src/components/Modal/Modal.component.js
  packages/ui-components/src/components/Modal/Modal.stories.js
  packages/ui-components/src/components/Modal/Modal.test.js
  packages/ui-components/src/components/Pagination/Pagination.stories.js
  packages/ui-components/src/components/PortalProvider/PortalProvider.Portal.component.tsx
  packages/ui-components/src/components/PortalProvider/PortalProvider.component.tsx
  packages/ui-components/src/components/PortalProvider/PortalProvider.stories.tsx
  packages/ui-components/src/components/PortalProvider/PortalProvider.test.tsx
  packages/ui-components/src/components/PortalProvider/index.ts
  packages/ui-components/src/components/Select/Select.component.js
  packages/ui-components/src/components/Select/Select.stories.js
  packages/ui-components/src/components/SelectDivider/SelectDivider.stories.js
  packages/ui-components/src/components/SelectOption/SelectOption.stories.js
  packages/ui-components/src/components/SelectRow/SelectRow.stories.js
  packages/ui-components/src/deprecated_js/PortalProvider/PortalProvider.component.js
  packages/ui-components/src/deprecated_js/PortalProvider/PortalProvider.test.js
  packages/ui-components/src/deprecated_js/PortalProvider/index.js
Labels: ui-components

#518 feat(greenhouse): enables PR preview for greenhouse app
  .github/workflows/deploy-pr-preview.yaml
  apps/greenhouse/README.md
Labels: enhancement, greenhouse

#514 chore(ui): migrate Badge component to Typescript
  .changeset/moody-shoes-fail.md
  packages/ui-components/src/components/Badge/Badge.component.js
  packages/ui-components/src/components/Badge/Badge.component.tsx
  packages/ui-components/src/components/Badge/Badge.stories.tsx
  packages/ui-components/src/components/Badge/Badge.test.js
  packages/ui-components/src/components/Badge/Badge.test.tsx
  packages/ui-components/src/components/Badge/index.ts
Labels: enhancement, package, ui-components

#515 chore(supernova): migrate to vite/vitest
  .changeset/lovely-clocks-divide.md
  .github/scripts/build-app.sh
  apps/supernova/.gitignore
  apps/supernova/README.md
  apps/supernova/__mocks__/client.js
  apps/supernova/__mocks__/fileMock.js
  apps/supernova/__mocks__/styleMock.js
  apps/supernova/appProps.template.json
  apps/supernova/babel.config.js
  apps/supernova/esbuild.config.js
  apps/supernova/helpers/appProps.js
  apps/supernova/index.html
  apps/supernova/package.json
  apps/supernova/public/index.html
  apps/supernova/secretProps_sample.js
  apps/supernova/setupTests.js
  apps/supernova/src/App.jsx
  apps/supernova/src/App.test.js
  apps/supernova/src/App.test.jsx
  apps/supernova/src/AppContent.jsx
  apps/supernova/src/components/CustomAppShell.jsx
  apps/supernova/src/components/StoreProvider.jsx
  apps/supernova/src/components/alerts/Alert.jsx
  apps/supernova/src/components/alerts/AlertDetail.jsx
  apps/supernova/src/components/alerts/AlertSilences.jsx
  apps/supernova/src/components/alerts/AlertStatus.jsx
  apps/supernova/src/components/alerts/AlertStatus.test.jsx
  apps/supernova/src/components/alerts/AlertsList.jsx
  apps/supernova/src/components/alerts/shared/AlertLabels.jsx
  apps/supernova/src/components/alerts/shared/AlertSilencesList.jsx
  apps/supernova/src/components/filters/FilterPills.jsx
  apps/supernova/src/components/filters/FilterSelect.jsx
  apps/supernova/src/components/filters/PredefinedFilters.jsx
  apps/supernova/src/components/regions/Region.jsx
  apps/supernova/src/components/regions/RegionsList.jsx
  apps/supernova/src/components/silences/ExpireSilence.jsx
  apps/supernova/src/components/silences/RecreateSilence.jsx
  apps/supernova/src/components/silences/SilenceNew.jsx
  apps/supernova/src/components/silences/SilenceScheduled.jsx
  apps/supernova/src/components/silences/SilenceScheduledWrapper.jsx
  apps/supernova/src/components/silences/SilencesList.jsx
  apps/supernova/src/constants.js
  apps/supernova/src/hooks/useAlertmanagerAPI.js
  apps/supernova/src/hooks/useUrlState.js
  apps/supernova/src/img/favicon-16x16.png
  apps/supernova/src/img/favicon-32x32.png
  apps/supernova/src/img/favicon.ico
  apps/supernova/src/lib/createAlertsSlice.jsx
  apps/supernova/src/lib/createAlertsSlice.test.jsx
  apps/supernova/src/lib/createFiltersSlice.jsx
  apps/supernova/src/lib/createFiltersSlice.test.jsx
  apps/supernova/src/lib/createGlobalsSlice.jsx
  apps/supernova/src/lib/createSilencesSlice.jsx
  apps/supernova/src/lib/createSilencesSlice.test.jsx
  apps/supernova/src/lib/createUserActivitySlice.jsx
  apps/supernova/turbo.json
  apps/supernova/vite.config.ts
  apps/supernova/vitest.config.ts
  apps/supernova/vitest.setup.ts
  package-lock.json
Labels: supernova

#511 chore(ui): migrate Message component to Typescript
  .changeset/hungry-panthers-tease.md
  packages/ui-components/src/components/Message/Message.component.js
  packages/ui-components/src/components/Message/Message.component.tsx
  packages/ui-components/src/components/Message/Message.stories.ts
  packages/ui-components/src/components/Message/Message.test.js
  packages/ui-components/src/components/Message/Message.test.tsx
  packages/ui-components/src/components/Message/index.ts
  packages/ui-components/src/docs/colors.mdx
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components

#521 chore(npm): delete url-state-router package
  .github/workflows/ci-title-lint-check.yaml
  commitlint.config.js
  docs/husky_commitlint_guide.md
  package-lock.json
  packages/url-state-router/CHANGELOG.md
  packages/url-state-router/LICENSE
  packages/url-state-router/README.md
  packages/url-state-router/babel.config.js
  packages/url-state-router/eslint.config.mjs
  packages/url-state-router/package.json
  packages/url-state-router/rollup.config.js
  packages/url-state-router/src/Link.js
  packages/url-state-router/src/Link.test.js
  packages/url-state-router/src/Redirect.js
  packages/url-state-router/src/Redirect.test.js
  packages/url-state-router/src/Route.js
  packages/url-state-router/src/Route.test.js
  packages/url-state-router/src/Router.js
  packages/url-state-router/src/Router.test.js
  packages/url-state-router/src/RouterContext.js
  packages/url-state-router/src/RouterContext.test.js
  packages/url-state-router/src/Switch.js
  packages/url-state-router/src/Switch.test.js
  packages/url-state-router/src/index.js
  packages/url-state-router/src/routeMatcher.js
  packages/url-state-router/src/routeMatcher.test.js
  packages/url-state-router/src/useURLStateProvider.js
  packages/url-state-router/src/useURLStateProvider.test.js
  packages/url-state-router/turbo.json
Labels: package

#519 feat(heureka): extends test
  .changeset/chilled-clocks-fly.md
  apps/heureka/src/App.test.jsx
  apps/heureka/src/components/StoreProvider.test.jsx
  apps/heureka/src/lib/slices/createGlobalsSlice.test.js
Labels: heureka

#510 fix(ui): fix broken pageheader layout (#506, #473)
  .changeset/blue-news-wash.md
  packages/ui-components/src/components/PageHeader/PageHeader.component.tsx
  packages/ui-components/src/components/PageHeader/PageHeader.stories.tsx
Labels: ui-components

#523 feat(docs): adds a brd for carbon app loading mechanism
  docs/proposals/004_carbon_brd.md
Labels: documentation

#534 feat(heureka): optimizes graphQL queries for improved performance
  .changeset/stale-wasps-hammer.md
  apps/heureka/src/components/issueMatches/IssueMatchesDetails.jsx
  apps/heureka/src/components/services/ServicesDetails.jsx
  apps/heureka/src/components/services/ServicesListItem.jsx
  apps/heureka/src/hooks/useQueryClientFn.js
  apps/heureka/src/lib/queries/components.js
  apps/heureka/src/lib/queries/issueMatches.js
  apps/heureka/src/lib/queries/services.js
Labels: heureka

#472 chore(ci): fails preview workflow if any build fails. Display failed build on the index.html
  .github/scripts/build-vite-app.sh
  .github/workflows/deploy-pr-preview.yaml
  apps/carbon/turbo.json
  apps/example/package.json
  apps/example/vite.config.ts
Labels: enhancement, infrastructure

#535 feat(heureka): customizes search placeholder based on different views
  .changeset/two-carrots-mate.md
  apps/heureka/src/components/filters/FilterSelect.jsx
  apps/heureka/src/components/filters/Filters.jsx
  apps/heureka/src/components/issueMatches/IssueMatchesView.jsx
  apps/heureka/src/components/services/ServicesView.jsx
Labels: heureka

#532 chore(ui): migrate Box component to Typescript
  .changeset/eight-mice-invite.md
  packages/ui-components/src/components/Box/Box.component.js
  packages/ui-components/src/components/Box/Box.component.tsx
  packages/ui-components/src/components/Box/Box.stories.tsx
  packages/ui-components/src/components/Box/Box.test.js
  packages/ui-components/src/components/Box/Box.test.tsx
  packages/ui-components/src/components/Box/index.ts
Labels: enhancement, package, ui-components

#536 chore(heureka): adds some UX improvements and comment out the components view
  .changeset/good-frogs-hug.md
  apps/heureka/src/components/CustomAppShell.jsx
  apps/heureka/src/components/services/ServicesDetails.jsx
  apps/heureka/src/components/shared/ListController.jsx
Labels: heureka

#531 chore(ui): migrate ShadowRoot component to TypeScript
  .changeset/lazy-singers-yawn.md
  packages/ui-components/src/components/AppShellProvider/AppShellProvider.component.js
  packages/ui-components/src/components/ShadowRoot/ShadowRoot.component.tsx
  packages/ui-components/src/components/ShadowRoot/ShadowRoot.stories.tsx
  packages/ui-components/src/components/ShadowRoot/index.ts
  packages/ui-components/src/components/StyleProvider/StyleProvider.component.js
  packages/ui-components/src/deprecated_js/ShadowRoot/ShadowRoot.component.js
  packages/ui-components/src/deprecated_js/ShadowRoot/index.js
Labels: ui-components

#538 chore(greenhouse): make supernova runnable in greenhouse
  .changeset/big-files-rest.md
  apps/supernova/jest.config.js
  apps/supernova/src/hooks/useAlertmanagerAPI.js
Labels: enhancement, greenhouse

#540 chore(ui): bring the Modal back to fix the build of apps
  .changeset/friendly-lobsters-hammer.md
  .gitignore
  packages/ui-components/src/components/Panel/Panel.component.js
  packages/ui-components/src/deprecated_js/Modal/Modal.component.js
  packages/ui-components/src/deprecated_js/Modal/Modal.test.js
  packages/ui-components/src/deprecated_js/Modal/index.js
  packages/ui-components/src/deprecated_js/ModalFooter/ModalFooter.component.js
  packages/ui-components/src/deprecated_js/ModalFooter/ModalFooter.test.js
  packages/ui-components/src/deprecated_js/ModalFooter/index.js
  packages/ui-components/src/index.js
Labels: bug

#537 chore(ui): migrate StyleProvider to TS
  .changeset/shaggy-deers-sort.md
  packages/ui-components/src/components/AppShellProvider/AppShellProvider.component.js
  packages/ui-components/src/components/ShadowRoot/ShadowRoot.component.tsx
  packages/ui-components/src/components/StyleProvider/Fonts.tsx
  packages/ui-components/src/components/StyleProvider/GlobalStyles.tsx
  packages/ui-components/src/components/StyleProvider/StyleProvider.component.tsx
  packages/ui-components/src/components/StyleProvider/StyleProvider.stories.tsx
  packages/ui-components/src/components/StyleProvider/StyleProvider.test.tsx
  packages/ui-components/src/components/StyleProvider/index.ts
  packages/ui-components/src/components/ThemeToggle/ThemeToggle.component.js
  packages/ui-components/src/deprecated_js/StyleProvider/Fonts.js
  packages/ui-components/src/deprecated_js/StyleProvider/GlobalStyles.js
  packages/ui-components/src/deprecated_js/StyleProvider/StyleProvider.component.js
  packages/ui-components/src/deprecated_js/StyleProvider/StyleProvider.test.js
  packages/ui-components/src/deprecated_js/StyleProvider/index.js
  packages/ui-components/src/deprecated_js/hooks/useLocalStorage.js
  packages/ui-components/src/docs/JunoComponentWrapper/JunoComponentWrapper.jsx
  packages/ui-components/src/hooks/useLocalStorage.ts
  packages/ui-components/types/global.d.ts
Labels: ui-components

#525 chore(ci): notify via slack when a publishing workflow fails
  .github/workflows/build-push-greenhouse-image.yaml
  .github/workflows/build-push-supernova-image.yaml
  .github/workflows/release.yaml
  .github/workflows/shared-slack-notification.yaml
Labels: infrastructure

#549 chore(ci): this PR corrects the branch reference for the shared workflow, which was previously incorrect.
  .changeset/hot-mirrors-explain.md
  .github/workflows/release.yaml
Labels: infrastructure

#545 chore(ui): migrate Breadcrumb components to Typescript
  .changeset/popular-files-whisper.md
  packages/ui-components/src/components/Breadcrumb/Breadcrumb.component.js
  packages/ui-components/src/components/Breadcrumb/Breadcrumb.component.tsx
  packages/ui-components/src/components/Breadcrumb/Breadcrumb.stories.tsx
  packages/ui-components/src/components/Breadcrumb/Breadcrumb.test.js
  packages/ui-components/src/components/Breadcrumb/Breadcrumb.test.tsx
  packages/ui-components/src/components/Breadcrumb/index.ts
  packages/ui-components/src/components/BreadcrumbItem/BreadcrumbItem.component.js
  packages/ui-components/src/components/BreadcrumbItem/BreadcrumbItem.component.tsx
  packages/ui-components/src/components/BreadcrumbItem/BreadcrumbItem.stories.tsx
  packages/ui-components/src/components/BreadcrumbItem/BreadcrumbItem.test.js
  packages/ui-components/src/components/BreadcrumbItem/BreadcrumbItem.test.tsx
  packages/ui-components/src/components/BreadcrumbItem/index.ts
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components

#546 chore(heureka): improves readme
  apps/heureka/README.md
  assets/images/heureka_issues_matches-detail.png
  assets/images/heureka_issues_matches_list.png
  assets/images/heureka_services_detail.png
  assets/images/heureka_services_list.png
Labels: heureka

#543 chore(greenhouse): migrate to vite and improve loading extensions
  .changeset/shaggy-deers-sort.md
  .changeset/warm-rings-fix.md
  .github/scripts/build-app.sh
  .github/scripts/build-vite-app.sh
  .github/workflows/deploy-pr-preview.yaml
  apps/carbon/package.json
  apps/doop/package.json
  apps/example/package.json
  apps/greenhouse/README.md
  apps/greenhouse/appProps.template.json
  apps/greenhouse/docker/Dockerfile
  apps/greenhouse/docker/index.html
  apps/greenhouse/esbuild/config.js
  apps/greenhouse/esbuild/plugin_greenhouse_apps.js
  apps/greenhouse/extensoinsManifest.js
  apps/greenhouse/index.html
  apps/greenhouse/package.json
  apps/greenhouse/public/index.html
  apps/greenhouse/src/Shell.jsx
  apps/greenhouse/src/assets/android-chrome-192x192.png
  apps/greenhouse/src/assets/android-chrome-512x512.png
  apps/greenhouse/src/assets/apple-touch-icon.png
  apps/greenhouse/src/assets/styles.css
  apps/greenhouse/src/components/Extensions.jsx
  apps/greenhouse/src/components/core-apps/org-admin/App.jsx
  apps/greenhouse/src/components/core-apps/org-admin/components/clusters/App.jsx
  apps/greenhouse/src/components/core-apps/org-admin/components/plugins/App.jsx
  apps/greenhouse/src/components/core-apps/org-admin/components/secrets/App.jsx
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/App.jsx
  apps/greenhouse/src/components/nav/PluginNav.jsx
  apps/greenhouse/src/components/shared/HintLoading.jsx
  apps/greenhouse/src/hooks/useApi.js
  apps/greenhouse/src/hooks/useUrlState.js
  apps/greenhouse/src/img/android-chrome-192x192.png
  apps/greenhouse/src/img/android-chrome-512x512.png
  apps/greenhouse/src/img/apple-touch-icon.png
  apps/greenhouse/src/img/favicon.ico
  apps/greenhouse/src/img/favicon.svg
  apps/greenhouse/src/lib/appLoader.js
  apps/greenhouse/src/lib/authentication.js
  apps/greenhouse/src/lib/manifestLoader.js
  apps/greenhouse/turbo.json
  apps/greenhouse/vite.config.ts
  apps/heureka/package.json
  apps/supernova/package.json
  apps/template/package.json
  package-lock.json
Labels: greenhouse

#559 chore(ci): run Trivy Job Only When a New Image is Produced
  .github/workflows/build-push-greenhouse-image.yaml
  .github/workflows/build-push-supernova-image.yaml
Labels: bug, greenhouse, infrastructure

#563 chore(doop): improved doop readme
  apps/doop/README.md
  apps/supernova/README.md
  assets/images/doop_detail.png
  assets/images/doop_overview.png
Labels: ui-components

#562 chore(ui): convert LoadingIndicator to Typescript
  .changeset/giant-oranges-lie.md
  packages/ui-components/src/components/LoadingIndicator/LoadingIndicator.component.js
  packages/ui-components/src/components/LoadingIndicator/LoadingIndicator.component.tsx
  packages/ui-components/src/components/LoadingIndicator/LoadingIndicator.stories.tsx
  packages/ui-components/src/components/LoadingIndicator/LoadingIndicator.test.js
  packages/ui-components/src/components/LoadingIndicator/LoadingIndicator.test.tsx
  packages/ui-components/src/components/LoadingIndicator/index.ts
  packages/ui-components/src/components/LoadingIndicator/loading-indicator.svg
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components

#565 fix(ui): fixes z index stacking problems for PageHeader
  .changeset/bright-bears-develop.md
  packages/ui-components/src/components/Label/Label.component.tsx
  packages/ui-components/src/components/PageHeader/PageHeader.component.tsx
  packages/ui-components/src/components/Panel/Panel.stories.js
  packages/ui-components/src/components/PanelBody/PanelBody.stories.js
  packages/ui-components/src/components/PanelFooter/PanelFooter.stories.js
  packages/ui-components/src/deprecated_js/Label/Label.component.js
Labels: ui-components

#567 chore(ci): update deps to fix tests
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/components/StoreProvider.test.jsx
  apps/greenhouse/vitest.setup.ts
  package-lock.json
Labels: app

#561 chore(ui): migrate JsonViewer to typescript
  .changeset/grumpy-rocks-travel.md
  packages/ui-components/src/components/CodeBlock/CodeBlock.component.js
  packages/ui-components/src/components/JsonViewer/JsonViewer.ToolbarIcons.component.tsx
  packages/ui-components/src/components/JsonViewer/JsonViewer.component.tsx
  packages/ui-components/src/components/JsonViewer/JsonViewer.context.ts
  packages/ui-components/src/components/JsonViewer/JsonViewer.stories.tsx
  packages/ui-components/src/components/JsonViewer/JsonViewer.test.tsx
  packages/ui-components/src/components/JsonViewer/JsonViewer.types.ts
  packages/ui-components/src/components/JsonViewer/index.ts
  packages/ui-components/src/components/JsonViewer/themes.ts
  packages/ui-components/src/components/SearchInput/SearchInput.component.tsx
  packages/ui-components/src/deprecated_js/JsonViewer/JsonViewer.component.js
  packages/ui-components/src/deprecated_js/JsonViewer/JsonViewer.test.js
  packages/ui-components/src/deprecated_js/JsonViewer/index.js
  packages/ui-components/src/deprecated_js/JsonViewer/themes.js
  packages/ui-components/src/index.js
Labels: ui-components

#573 chore(heureka): harmonizes filter names in different viewes
  .changeset/sweet-items-rescue.md
  apps/heureka/src/components/filters/FilterSelect.jsx
  apps/heureka/src/components/filters/Filters.jsx
  apps/heureka/src/lib/slices/createFiltersSlice.js
  apps/heureka/src/lib/slices/createFiltersSlice.test.js
Labels: heureka
