Repository cloudoperators/juno, pull requests merged in 2024-11, with the labels that each got.

#569 chore(ui): migrate InputGroup to Typescript
  .changeset/shiny-rivers-fetch.md
  packages/ui-components/src/components/InputGroup/InputGroup.component.js
  packages/ui-components/src/components/InputGroup/InputGroup.component.tsx
  packages/ui-components/src/components/InputGroup/InputGroup.stories.tsx
  packages/ui-components/src/components/InputGroup/InputGroup.test.js
  packages/ui-components/src/components/InputGroup/InputGroup.test.tsx
  packages/ui-components/src/components/InputGroup/index.ts
  packages/ui-components/src/components/InputGroup/input-group.scss
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components, refactor

#571 chore(ui): migrate Select component to TypeScript
  .changeset/nine-seals-drop.md
  packages/ui-components/src/components/Form/Form.stories.js
  packages/ui-components/src/components/FormHint/FormHint.component.tsx
  packages/ui-components/src/components/FormRow/FormRow.stories.js
  packages/ui-components/src/components/Pagination/Pagination.component.js
  packages/ui-components/src/components/Select/Select.component.tsx
  packages/ui-components/src/components/Select/Select.stories.tsx
  packages/ui-components/src/components/Select/Select.test.tsx
  packages/ui-components/src/components/Select/index.ts
  packages/ui-components/src/components/SelectDivider/SelectDivider.component.tsx
  packages/ui-components/src/components/SelectDivider/SelectDivider.stories.tsx
  packages/ui-components/src/components/SelectDivider/SelectDivider.test.tsx
  packages/ui-components/src/components/SelectDivider/index.tsx
  packages/ui-components/src/components/SelectOption/SelectOption.component.tsx
  packages/ui-components/src/components/SelectOption/SelectOption.stories.tsx
  packages/ui-components/src/components/SelectOption/SelectOption.test.tsx
  packages/ui-components/src/components/SelectOption/index.ts
  packages/ui-components/src/components/SelectRow/SelectRow.component.js
  packages/ui-components/src/components/SelectRow/SelectRow.stories.js
  packages/ui-components/src/components/SelectRow/SelectRow.test.js
  packages/ui-components/src/deprecated_js/Select/Select.component.js
  packages/ui-components/src/deprecated_js/Select/index.js
  packages/ui-components/src/deprecated_js/Select/select.scss
  packages/ui-components/src/deprecated_js/SelectDivider/SelectDivider.component.js
  packages/ui-components/src/deprecated_js/SelectDivider/index.js
  packages/ui-components/src/deprecated_js/SelectOption/SelectOption.component.js
  packages/ui-components/src/deprecated_js/SelectOption/SelectOption.test.js
  packages/ui-components/src/deprecated_js/SelectOption/index.js
  packages/ui-components/src/index.js
Labels: ui-components

#579 fix(ui): adds high z-index to portal root
  .changeset/tiny-cooks-try.md
  packages/ui-components/src/components/Label/Label.component.tsx
  packages/ui-components/src/components/PageHeader/PageHeader.component.tsx
  packages/ui-components/src/components/PortalProvider/PortalProvider.component.tsx
  packages/ui-components/src/deprecated_js/PortalProvider/PortalProvider.component.js
Labels: ui-components

#575 chore(ui): migrate menu to typescript (#237)
  .changeset/five-boats-cheat.md
  packages/ui-components/src/components/Menu/Menu.component.tsx
  packages/ui-components/src/components/Menu/Menu.stories.tsx
  packages/ui-components/src/components/Menu/Menu.test.tsx
  packages/ui-components/src/components/Menu/index.ts
  packages/ui-components/src/components/MenuItem/MenuItem.component.js
  packages/ui-components/src/components/MenuItem/MenuItem.component.tsx
  packages/ui-components/src/components/MenuItem/MenuItem.stories.js
  packages/ui-components/src/components/MenuItem/MenuItem.stories.tsx
  packages/ui-components/src/components/MenuItem/MenuItem.test.js
  packages/ui-components/src/components/MenuItem/MenuItem.test.tsx
  packages/ui-components/src/components/MenuItem/index.ts
  packages/ui-components/src/components/MenuSection/MenuSection.component.tsx
  packages/ui-components/src/components/MenuSection/MenuSection.stories.js
  packages/ui-components/src/components/MenuSection/MenuSection.stories.tsx
  packages/ui-components/src/components/MenuSection/MenuSection.test.js
  packages/ui-components/src/components/MenuSection/MenuSection.test.tsx
  packages/ui-components/src/components/MenuSection/index.ts
  packages/ui-components/src/index.js
Labels: ui-components

#587 refactor(url-state-provider): refactor to typescript
  .changeset/grumpy-spies-hunt.md
  package-lock.json
  packages/url-state-provider/eslint.config.mjs
  packages/url-state-provider/package.json
  packages/url-state-provider/src/index.test.ts
  packages/url-state-provider/src/index.ts
  packages/url-state-provider/src/superstate.test.ts
  packages/url-state-provider/src/superstate.ts
  packages/url-state-provider/tsconfig.json
  packages/url-state-provider/types/global.d.ts
  packages/url-state-provider/vite.config.ts
Labels: Migration

#586 chore(ui): migrate Switch component to Typescript
  .changeset/famous-dryers-train.md
  packages/ui-components/src/components/Form/Form.stories.js
  packages/ui-components/src/components/Switch/Switch.component.tsx
  packages/ui-components/src/components/Switch/Switch.stories.tsx
  packages/ui-components/src/components/Switch/Switch.test.tsx
  packages/ui-components/src/components/Switch/index.ts
  packages/ui-components/src/components/SwitchRow/SwitchRow.component.js
  packages/ui-components/src/deprecated_js/Switch/Switch.component.js
  packages/ui-components/src/deprecated_js/Switch/Switch.test.js
  packages/ui-components/src/deprecated_js/Switch/index.js
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components, refactor

#598 chore(ui): fix Grid stories after Typescript migration
  packages/ui-components/src/components/Grid/Grid.stories.tsx
  packages/ui-components/src/components/GridColumn/GridColumn.stories.tsx
Labels: documentation, package, ui-components

#577 feat(heureka): adds pagination for component instances on a service details panel
  .changeset/grumpy-squids-hear.md
  apps/heureka/src/components/components/ComponentsListItem.jsx
  apps/heureka/src/components/issueMatches/IssueMatchesDetails.jsx
  apps/heureka/src/components/issueMatches/IssueMatchesListItem.jsx
  apps/heureka/src/components/services/ComponentInstancesList.jsx
  apps/heureka/src/components/services/ServicesDetails.jsx
  apps/heureka/src/components/services/ServicesListItem.jsx
  apps/heureka/src/components/shared/HintNotFound.jsx
  apps/heureka/src/components/shared/ListController.jsx
  apps/heureka/src/components/shared/PaginationComponent.jsx
  apps/heureka/src/components/shared/PaginationComponent.test.jsx
  apps/heureka/src/hooks/useQueryClientFn.js
  apps/heureka/src/lib/queries/addRemoveServiceOwners.js
  apps/heureka/src/lib/queries/components.js
  apps/heureka/src/lib/queries/issueMatches.js
  apps/heureka/src/lib/queries/issueMatchesFilterValues.js
  apps/heureka/src/lib/queries/serviceFilterValues.js
  apps/heureka/src/lib/queries/services.js
  apps/heureka/src/lib/slices/createGlobalsSlice.js
  apps/heureka/src/lib/slices/createGlobalsSlice.test.js
Labels: heureka

#596 chore(ui): migrate ContextMenu component to Typescript
  .changeset/neat-peaches-roll.md
  packages/ui-components/src/components/ContextMenu/ContextMenu.component.tsx
  packages/ui-components/src/components/ContextMenu/ContextMenu.stories.js
  packages/ui-components/src/components/ContextMenu/ContextMenu.stories.tsx
  packages/ui-components/src/components/ContextMenu/ContextMenu.test.tsx
  packages/ui-components/src/components/ContextMenu/index.ts
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components, refactor

#601 chore(ui): migrate Form, FormSection and FormRow components to Typescript and update FormHint
  .changeset/shaggy-pots-repeat.md
  packages/ui-components/src/components/Form/Form.component.js
  packages/ui-components/src/components/Form/Form.component.tsx
  packages/ui-components/src/components/Form/Form.stories.tsx
  packages/ui-components/src/components/Form/Form.test.js
  packages/ui-components/src/components/Form/Form.test.tsx
  packages/ui-components/src/components/Form/index.ts
  packages/ui-components/src/components/FormHint/FormHint.component.tsx
  packages/ui-components/src/components/FormHint/FormHint.stories.tsx
  packages/ui-components/src/components/FormHint/FormHint.test.tsx
  packages/ui-components/src/components/FormRow/FormRow.component.tsx
  packages/ui-components/src/components/FormRow/FormRow.stories.tsx
  packages/ui-components/src/components/FormRow/FormRow.test.tsx
  packages/ui-components/src/components/FormRow/index.ts
  packages/ui-components/src/components/FormSection/FormSection.component.js
  packages/ui-components/src/components/FormSection/FormSection.component.tsx
  packages/ui-components/src/components/FormSection/FormSection.stories.tsx
  packages/ui-components/src/components/FormSection/FormSection.test.js
  packages/ui-components/src/components/FormSection/FormSection.test.tsx
  packages/ui-components/src/components/FormSection/index.ts
  packages/ui-components/src/components/SelectRow/SelectRow.component.js
  packages/ui-components/src/components/SwitchRow/SwitchRow.component.js
  packages/ui-components/src/components/TextInputRow/TextInputRow.component.js
  packages/ui-components/src/components/TextareaRow/TextareaRow.component.js
  packages/ui-components/src/deprecated_js/FormRow/FormRow.component.js
  packages/ui-components/src/deprecated_js/FormRow/FormRow.test.js
  packages/ui-components/src/deprecated_js/FormRow/index.js
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components, refactor

#599 chore(ui): migrate NativeSelect, NativeSelectOption and NativeSelectOptionGroup components to TypeScript
  .changeset/nice-moons-watch.md
  packages/ui-components/src/components/FilterInput/FilterInput.component.js
  packages/ui-components/src/components/NativeSelect/NativeSelect.component.tsx
  packages/ui-components/src/components/NativeSelect/NativeSelect.stories.js
  packages/ui-components/src/components/NativeSelect/NativeSelect.stories.tsx
  packages/ui-components/src/components/NativeSelect/NativeSelect.test.tsx
  packages/ui-components/src/components/NativeSelect/index.ts
  packages/ui-components/src/components/NativeSelectOption/NativeSelectOption.component.tsx
  packages/ui-components/src/components/NativeSelectOption/NativeSelectOption.stories.tsx
  packages/ui-components/src/components/NativeSelectOption/SelectOption.test.tsx
  packages/ui-components/src/components/NativeSelectOption/index.ts
  packages/ui-components/src/components/NativeSelectOptionGroup/NativeSelectOptionGroup.component.js
  packages/ui-components/src/components/NativeSelectOptionGroup/NativeSelectOptionGroup.component.tsx
  packages/ui-components/src/components/NativeSelectOptionGroup/NativeSelectOptionGroup.stories.tsx
  packages/ui-components/src/components/NativeSelectOptionGroup/NativeSelectOptionGroup.test.js
  packages/ui-components/src/components/NativeSelectOptionGroup/NativeSelectOptionGroup.test.tsx
  packages/ui-components/src/components/NativeSelectOptionGroup/index.ts
  packages/ui-components/src/deprecated_js/NativeSelect/NativeSelect.component.js
  packages/ui-components/src/deprecated_js/NativeSelect/NativeSelect.test.js
  packages/ui-components/src/deprecated_js/NativeSelect/index.js
  packages/ui-components/src/deprecated_js/NativeSelectOption/NativeSelectOption.component.js
  packages/ui-components/src/deprecated_js/NativeSelectOption/SelectOption.test.js
  packages/ui-components/src/deprecated_js/NativeSelectOption/index.js
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components, refactor

#608 fix(greenhouse): add support_group only if supportGroups exists and is an array
  .changeset/curly-owls-rush.md
  apps/greenhouse/src/hooks/useApi.js
Labels: greenhouse, refactor

#612 chore(ci): do not check markdown files in ci
  .github/workflows/ci-checks.yaml
Labels: enhancement, infrastructure

#610 fix(supernova): activeFilters are not rendered if value is not an array
  .changeset/plenty-windows-check.md
  apps/supernova/src/components/filters/FilterPills.jsx
  apps/supernova/src/components/filters/PredefinedFilters.jsx
  apps/supernova/src/lib/createFiltersSlice.jsx
  apps/supernova/src/lib/createFiltersSlice.test.jsx
Labels: supernova

#613 chore(ci): do not use relative asset paths in prod builds
  .github/scripts/build-vite-app.sh
  apps/carbon/vite.config.ts
  apps/doop/vite.config.ts
  apps/example/vite.config.ts
  apps/greenhouse/vite.config.ts
  apps/heureka/vite.config.ts
  apps/supernova/vite.config.ts
  package-lock.json
Labels: enhancement, infrastructure

#615 chore(supernova): adjust Dockerfile to address vite build
  apps/supernova/docker/Dockerfile
  apps/supernova/docker/entrypoint.sh
  apps/supernova/docker/index.html
  apps/supernova/docker/nginx.conf
Labels: supernova, infrastructure, app

#603 fix(heureka): corrects URL state handling for filter property
  .changeset/quiet-sheep-bathe.md
  apps/heureka/src/components/filters/Filters.jsx
  apps/heureka/src/hooks/useUrlState.js
  apps/heureka/src/lib/slices/createFiltersSlice.js
  apps/heureka/src/lib/slices/createFiltersSlice.test.js
  apps/heureka/src/lib/slices/createGlobalsSlice.js
  apps/heureka/src/lib/slices/createGlobalsSlice.test.js
Labels: heureka

#614 chore(ui): migrate Code component to TypeScript
  .changeset/orange-tips-provide.md
  packages/ui-components/src/components/Code/Code.component.tsx
  packages/ui-components/src/components/Code/Code.stories.tsx
  packages/ui-components/src/components/Code/Code.test.tsx
  packages/ui-components/src/components/Code/index.ts
  packages/ui-components/src/index.js
Labels: ui-components

#589 chore(ui): migrate ComboBox component to typescript
  .changeset/healthy-needles-complain.md
  packages/ui-components/src/components/ComboBox/ComboBox.component.tsx
  packages/ui-components/src/components/ComboBox/ComboBox.stories.tsx
  packages/ui-components/src/components/ComboBox/ComboBox.test.tsx
  packages/ui-components/src/components/ComboBox/index.ts
  packages/ui-components/src/components/ComboBoxOption/ComboBoxOption.component.tsx
  packages/ui-components/src/components/ComboBoxOption/ComboBoxOption.stories.tsx
  packages/ui-components/src/components/ComboBoxOption/ComboBoxOption.test.tsx
  packages/ui-components/src/components/ComboBoxOption/index.ts
  packages/ui-components/src/deprecated_js/ComboBox/ComboBox.component.js
  packages/ui-components/src/deprecated_js/ComboBox/ComboBox.test.js
  packages/ui-components/src/deprecated_js/ComboBox/index.js
  packages/ui-components/src/deprecated_js/ComboBoxOption/ComboBoxOption.component.js
  packages/ui-components/src/deprecated_js/ComboBoxOption/ComboBoxOption.test.js
  packages/ui-components/src/deprecated_js/ComboBoxOption/index.js
  packages/ui-components/src/index.js
Labels: enhancement, Migration, package, ui-components

#585 chore(utils): move useEndlessScrollList to juno-ui-components, depreacate juno-utils package
  .changeset/popular-hairs-train.md
  apps/doop/src/components/violations/ViolationDetailsList.jsx
  apps/example/src/components/peaks/PeaksList.jsx
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/components/team/TeamList.jsx
  apps/supernova/src/components/silences/SilencesList.jsx
  packages/ui-components/rollup.config.js
  packages/ui-components/src/hooks/useEndlessScrollList.test.tsx
  packages/ui-components/src/hooks/useEndlessScrollList.tsx
  packages/ui-components/src/index.js
  packages/ui-components/tsconfig.build.json
  packages/ui-components/tsconfig.hooks.build.json
  packages/utils/package.json
Labels: greenhouse, doop, package, ui-components, supernova

#629 chore(utils): decomission mock server from juno apps
  .changeset/cold-humans-shake.md
  apps/doop/README.md
  apps/doop/appProps.template.json
  apps/doop/src/App.jsx
  apps/doop/src/components/AppContent.jsx
  apps/doop/src/components/StoreProvider.jsx
  apps/doop/src/lib/store/createGlobalsSlice.jsx
  apps/example/package.json
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/App.jsx
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/AppContent.jsx
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/components/StoreProvider.jsx
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/components/StoreProvider.test.jsx
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/lib/store.js
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/lib/store.test.js
  package-lock.json
Labels: greenhouse, doop, app

#607 feat(ui): adds HeaderContainer component
  .changeset/giant-news-flash.md
  apps/example/src/App.jsx
  packages/ui-components/src/components/AppShell/AppShell.component.tsx
  packages/ui-components/src/components/HeaderContainer/HeaderContainer.component.tsx
  packages/ui-components/src/components/HeaderContainer/HeaderContainer.stories.tsx
  packages/ui-components/src/components/HeaderContainer/HeaderContainer.test.tsx
  packages/ui-components/src/components/HeaderContainer/index.ts
  packages/ui-components/src/index.js
Labels: ui-components

#636 chore(juno): sunset of juno-utils ciao-cacao
  .changeset/tiny-laws-give.md
  .github/workflows/ci-title-lint-check.yaml
  apps/doop/package.json
  apps/doop/turbo.json
  apps/example/turbo.json
  apps/supernova/package.json
  apps/supernova/turbo.json
  commitlint.config.js
  docs/husky_commitlint_guide.md
  package-lock.json
  packages/utils/CHANGELOG.md
  packages/utils/LICENSE
  packages/utils/README.md
  packages/utils/__mocks__/intersectionObserverMock.js
  packages/utils/babel.config.json
  packages/utils/eslint.config.mjs
  packages/utils/package.json
  packages/utils/rollup.config.js
  packages/utils/src/hooks/useAppLoader.js
  packages/utils/src/hooks/useEndlessScrollList.js
  packages/utils/src/hooks/useEndlessScrollList.test.js
  packages/utils/src/index.js
  packages/utils/src/lib/fetchProxy.js
  packages/utils/src/lib/fetchProxy.test.js
Labels: app

#638 chore(ui): enable renovate for patch versions
  .github/renovate.json
Labels: ui-components

#616 chore(ui): migrate Pagination component to Typescript
  .changeset/calm-apes-promise.md
  packages/ui-components/src/components/Pagination/Pagination.component.tsx
  packages/ui-components/src/components/Pagination/Pagination.stories.tsx
  packages/ui-components/src/components/Pagination/Pagination.test.tsx
  packages/ui-components/src/components/Pagination/index.ts
  packages/ui-components/src/components/Select/Select.component.tsx
  packages/ui-components/src/components/TextInput/TextInput.component.tsx
  packages/ui-components/src/deprecated_js/Pagination/Pagination.component.js
  packages/ui-components/src/deprecated_js/Pagination/Pagination.test.js
  packages/ui-components/src/deprecated_js/Pagination/index.js
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components

#606 chore(ui): migrate Panel, PanelBody and PanelFooter components to Typescript
  .changeset/tall-planets-wave.md
  packages/ui-components/src/components/Panel/Panel.component.tsx
  packages/ui-components/src/components/Panel/Panel.stories.tsx
  packages/ui-components/src/components/Panel/Panel.test.tsx
  packages/ui-components/src/components/Panel/index.ts
  packages/ui-components/src/components/PanelBody/PanelBody.component.tsx
  packages/ui-components/src/components/PanelBody/PanelBody.stories.tsx
  packages/ui-components/src/components/PanelBody/PanelBody.test.tsx
  packages/ui-components/src/components/PanelBody/index.ts
  packages/ui-components/src/components/PanelFooter/PanelFooter.component.tsx
  packages/ui-components/src/components/PanelFooter/PanelFooter.stories.tsx
  packages/ui-components/src/components/PanelFooter/PanelFooter.test.tsx
  packages/ui-components/src/components/PanelFooter/index.ts
  packages/ui-components/src/deprecated_js/Panel/Panel.component.js
  packages/ui-components/src/deprecated_js/Panel/Panel.test.js
  packages/ui-components/src/deprecated_js/Panel/index.js
  packages/ui-components/src/deprecated_js/PanelBody/PanelBody.component.js
  packages/ui-components/src/deprecated_js/PanelBody/PanelBody.test.js
  packages/ui-components/src/deprecated_js/PanelBody/index.js
  packages/ui-components/src/deprecated_js/PanelFooter/PanelFooter.component.js
  packages/ui-components/src/deprecated_js/PanelFooter/PanelFooter.test.js
  packages/ui-components/src/deprecated_js/PanelFooter/index.js
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components, refactor

#643 chore(ui): update renovate config
  .github/renovate.json
Labels: ui-components

#641 chore(ui): migrate ContentAreaToolbar component to Typescript and improve ContentContainer and ContentHeading
  .changeset/large-candles-invent.md
  packages/ui-components/src/components/ContentAreaToolbar/ContentAreaToolbar.component.js
  packages/ui-components/src/components/ContentAreaToolbar/ContentAreaToolbar.component.tsx
  packages/ui-components/src/components/ContentAreaToolbar/ContentAreaToolbar.stories.tsx
  packages/ui-components/src/components/ContentAreaToolbar/ContentAreaToolbar.test.tsx
  packages/ui-components/src/components/ContentAreaToolbar/index.ts
  packages/ui-components/src/components/ContentContainer/ContentContainer.component.tsx
  packages/ui-components/src/components/ContentContainer/ContentContainer.stories.tsx
  packages/ui-components/src/components/ContentContainer/ContentContainer.test.tsx
  packages/ui-components/src/components/ContentHeading/ContentHeading.component.tsx
  packages/ui-components/src/components/ContentHeading/ContentHeading.stories.tsx
  packages/ui-components/src/components/ContentHeading/ContentHeading.test.tsx
  packages/ui-components/src/deprecated_js/ContentArea/ContentArea.component.js
  packages/ui-components/src/deprecated_js/ContentArea/ContentArea.stories.js
  packages/ui-components/src/deprecated_js/ContentArea/ContentArea.test.js
  packages/ui-components/src/deprecated_js/ContentArea/index.js
  packages/ui-components/src/deprecated_js/ContentAreaWrapper/ContentAreaWrapper.component.js
  packages/ui-components/src/deprecated_js/ContentAreaWrapper/ContentAreaWrapper.stories.js
  packages/ui-components/src/deprecated_js/ContentAreaWrapper/ContentAreaWrapper.test.js
  packages/ui-components/src/deprecated_js/ContentAreaWrapper/index.js
  packages/ui-components/src/docs/ColorPalette/ColorPalette.jsx
  packages/ui-components/src/docs/ColorPalette/JunoColorPalette.jsx
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components
