Repository cloudoperators/juno, pull requests merged in 2024-12, with the labels that each got.

#653 chore(heureka): updates services query based on minor API related changes
  .changeset/selfish-icons-divide.md
  apps/heureka/src/lib/queries/services.js
Labels: heureka

#655 chore(heureka): updates service details query
  .changeset/empty-dolls-dream.md
  apps/heureka/src/lib/queries/services.js
Labels: heureka

#648 chore(ui): update dependencies to minor versions
  .changeset/gentle-mangos-behave.md
  .github/renovate.json
  package-lock.json
  packages/ui-components/package.json
  packages/ui-components/src/hooks/useEndlessScrollList.tsx
Labels: ui-components, dependencies

#639 feat(docs): proposal loading mechanism
  docs/proposals/005_carbon_loading_mechanism.md
Labels: documentation, greenhouse

#666 chore(ui): migrate ThemeToggle to Typescript
  .changeset/sharp-fishes-develop.md
  packages/ui-components/src/components/ThemeToggle/ThemeToggle.component.tsx
  packages/ui-components/src/components/ThemeToggle/ThemeToggle.stories.js
  packages/ui-components/src/components/ThemeToggle/ThemeToggle.stories.tsx
  packages/ui-components/src/components/ThemeToggle/ThemeToggle.test.tsx
  packages/ui-components/src/components/ThemeToggle/index.js
  packages/ui-components/src/components/ThemeToggle/index.ts
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components

#658 refactor(supernova): introducing ReactQuery
  .changeset/cool-ways-agree.md
  .changeset/real-donuts-film.md
  apps/supernova/src/App.jsx
  apps/supernova/src/AppContent.jsx
  apps/supernova/src/components/AsyncWorker.jsx
  apps/supernova/src/components/StoreProvider.jsx
  apps/supernova/src/components/alerts/AlertDetail.jsx
  apps/supernova/src/components/alerts/AlertsList.jsx
  apps/supernova/src/components/regions/RegionsList.jsx
  apps/supernova/src/components/silences/SilencesList.jsx
  apps/supernova/src/hooks/useAlertmanagerAPI.js
  apps/supernova/src/hooks/useBoundQuery.js
  apps/supernova/src/lib/createAlertsSlice.jsx
  apps/supernova/src/lib/createSilencesSlice.jsx
  apps/supernova/src/lib/queries/alertsQueries.js
  apps/supernova/src/lib/queries/queryFunctions.js
  apps/supernova/src/lib/queries/silencesQueries.js
  apps/supernova/src/workers/alerts.js
  apps/supernova/src/workers/silences.js
  package-lock.json
  package.json
Labels: supernova

#667 chore(ui): migrate docs to typescript
  .changeset/twenty-buckets-pull.md
  packages/ui-components/rollup.config.js
  packages/ui-components/src/deprecated_js/ColorPalette/generateTailwindThemeClassesJson.js
  packages/ui-components/src/docs/ColorPalette/ColorCard.tsx
  packages/ui-components/src/docs/ColorPalette/ColorPalette.tsx
  packages/ui-components/src/docs/ColorPalette/JunoColorPalette.tsx
  packages/ui-components/src/docs/ColorPalette/TailwindColors.ts
  packages/ui-components/src/docs/ColorPalette/TextColorCard.tsx
  packages/ui-components/src/docs/ColorPalette/generateTailwindThemeClassesJson.ts
  packages/ui-components/src/docs/JunoComponentWrapper/JunoComponentWrapper.tsx
  packages/ui-components/src/docs/colors.mdx
Labels: ui-components

#670 chore(ui): move deprecated components to deprecated_js
  .changeset/tasty-dragons-train.md
  packages/ui-components/src/deprecated_js/AppIntro/AppIntro.component.tsx
  packages/ui-components/src/deprecated_js/AppIntro/AppIntro.stories.tsx
  packages/ui-components/src/deprecated_js/AppIntro/AppIntro.test.tsx
  packages/ui-components/src/deprecated_js/AppIntro/index.ts
  packages/ui-components/src/deprecated_js/CheckboxRow/CheckboxRow.component.tsx
  packages/ui-components/src/deprecated_js/CheckboxRow/CheckboxRow.stories.tsx
  packages/ui-components/src/deprecated_js/CheckboxRow/CheckboxRow.test.tsx
  packages/ui-components/src/deprecated_js/CheckboxRow/index.ts
  packages/ui-components/src/deprecated_js/DataList/DataList.component.js
  packages/ui-components/src/deprecated_js/DataList/DataList.stories.js
  packages/ui-components/src/deprecated_js/DataList/DataList.test.js
  packages/ui-components/src/deprecated_js/DataList/index.js
  packages/ui-components/src/deprecated_js/DataListCell/DataListCell.component.js
  packages/ui-components/src/deprecated_js/DataListCell/DataListCell.stories.js
  packages/ui-components/src/deprecated_js/DataListCell/DataListCell.test.js
  packages/ui-components/src/deprecated_js/DataListCell/index.js
  packages/ui-components/src/deprecated_js/DataListCheckboxCell/DataListCheckboxCell.component.js
  packages/ui-components/src/deprecated_js/DataListCheckboxCell/DataListCheckboxCell.stories.js
  packages/ui-components/src/deprecated_js/DataListCheckboxCell/DataListCheckboxCell.test.js
  packages/ui-components/src/deprecated_js/DataListCheckboxCell/index.js
  packages/ui-components/src/deprecated_js/DataListRow/DataListRow.component.js
  packages/ui-components/src/deprecated_js/DataListRow/DataListRow.stories.js
  packages/ui-components/src/deprecated_js/DataListRow/DataListRow.test.js
  packages/ui-components/src/deprecated_js/DataListRow/index.js
  packages/ui-components/src/deprecated_js/FilterInput/FilterInput.component.js
  packages/ui-components/src/deprecated_js/FilterInput/FilterInput.stories.js
  packages/ui-components/src/deprecated_js/FilterInput/FilterInput.test.js
  packages/ui-components/src/deprecated_js/FilterInput/index.js
  packages/ui-components/src/deprecated_js/FilterPill/FilterPill.component.js
  packages/ui-components/src/deprecated_js/FilterPill/FilterPill.stories.js
  packages/ui-components/src/deprecated_js/FilterPill/FilterPill.test.js
  packages/ui-components/src/deprecated_js/FilterPill/index.js
  packages/ui-components/src/deprecated_js/Filters/Filters.component.js
  packages/ui-components/src/deprecated_js/Filters/Filters.stories.js
  packages/ui-components/src/deprecated_js/Filters/Filters.test.js
  packages/ui-components/src/deprecated_js/Filters/index.js
  packages/ui-components/src/deprecated_js/RadioRow/RadioRow.component.tsx
  packages/ui-components/src/deprecated_js/RadioRow/RadioRow.stories.tsx
  packages/ui-components/src/deprecated_js/RadioRow/RadioRow.test.tsx
  packages/ui-components/src/deprecated_js/RadioRow/index.ts
  packages/ui-components/src/deprecated_js/SelectRow/SelectRow.component.js
  packages/ui-components/src/deprecated_js/SelectRow/SelectRow.stories.js
  packages/ui-components/src/deprecated_js/SelectRow/SelectRow.test.js
  packages/ui-components/src/deprecated_js/SelectRow/index.js
  packages/ui-components/src/deprecated_js/SwitchRow/SwitchRow.component.js
  packages/ui-components/src/deprecated_js/SwitchRow/SwitchRow.stories.js
  packages/ui-components/src/deprecated_js/SwitchRow/SwitchRow.test.js
  packages/ui-components/src/deprecated_js/SwitchRow/index.js
  packages/ui-components/src/deprecated_js/TextInputRow/TextInputRow.component.js
  packages/ui-components/src/deprecated_js/TextInputRow/TextInputRow.stories.js
  packages/ui-components/src/deprecated_js/TextInputRow/TextInputRow.test.js
  packages/ui-components/src/deprecated_js/TextInputRow/index.js
  packages/ui-components/src/deprecated_js/TextareaRow/TextareaRow.component.js
  packages/ui-components/src/deprecated_js/TextareaRow/TextareaRow.stories.js
  packages/ui-components/src/deprecated_js/TextareaRow/TextareaRow.test.js
  packages/ui-components/src/deprecated_js/TextareaRow/index.js
  packages/ui-components/src/index.js
Labels: enhancement, package, ui-components

#660 chore(heureka): renames Issues to Vulnerabilities tab with the default filter of issueType is Vulnerability
  .changeset/neat-rats-decide.md
  apps/heureka/src/components/CustomAppShell.jsx
  apps/heureka/src/components/components/ComponentsList.jsx
  apps/heureka/src/components/issueMatches/IssueMatchesDetails.jsx
  apps/heureka/src/components/issueMatches/IssueMatchesList.jsx
  apps/heureka/src/components/issueMatches/IssueMatchesView.jsx
  apps/heureka/src/components/services/ComponentInstancesList.jsx
  apps/heureka/src/components/services/ServicesList.jsx
  apps/heureka/src/lib/queries/issueMatchesFilterValues.js
  apps/heureka/src/lib/slices/createGlobalsSlice.js
Labels: heureka

#663 chore(example): remove @cloudoperators/juno-utils dependency
  .github/workflows/deploy-pr-preview.yaml
  apps/example/package.json
  apps/example/public/mockServiceWorker.js
  apps/example/src/App.jsx
  apps/example/src/components/AsyncWorker.jsx
  apps/example/src/db.json
  apps/example/src/hooks/useQueryClientFn.js
  apps/example/src/index.js
  apps/example/src/mocks/browser.js
  apps/example/src/mocks/db/index.js
  apps/example/src/mocks/db/peaks.json
  apps/example/src/mocks/getHandlers.js
  package-lock.json
Labels: app, refactor

#677 chore(supernova): add `embedded` property to README and fix typos
  apps/heureka/appProps.template.json
  apps/supernova/README.md
  apps/supernova/src/components/silences/SilenceNew.jsx
Labels: documentation, supernova
