Repository cloudoperators/juno, pull requests merged in 2025-02, with the labels that each got.

#751 chore(heureka): initialise new heureka app
  .changeset/tame-worms-compare.md
  .github/workflows/deploy-pr-preview.yaml
  apps/heureka-next/.gitignore
  apps/heureka-next/LICENSE
  apps/heureka-next/README.md
  apps/heureka-next/eslint.config.mjs
  apps/heureka-next/index.html
  apps/heureka-next/package.json
  apps/heureka-next/postcss.config.mjs
  apps/heureka-next/src/App.tsx
  apps/heureka-next/src/assets/favicon.ico
  apps/heureka-next/src/components/ErrorBoundary/ErrorBoundary.test.tsx
  apps/heureka-next/src/components/ErrorBoundary/ErrorBoundary.tsx
  apps/heureka-next/src/components/ErrorBoundary/ErrorFallback.tsx
  apps/heureka-next/src/components/ErrorBoundary/index.ts
  apps/heureka-next/src/components/Images/Images.test.tsx
  apps/heureka-next/src/components/Images/Images.tsx
  apps/heureka-next/src/components/Images/index.ts
  apps/heureka-next/src/components/Navigation/Navigation.test.tsx
  apps/heureka-next/src/components/Navigation/Navigation.tsx
  apps/heureka-next/src/components/Navigation/index.ts
  apps/heureka-next/src/components/Services/Services.test.tsx
  apps/heureka-next/src/components/Services/Services.tsx
  apps/heureka-next/src/components/Services/index.ts
  apps/heureka-next/src/components/Shell/Shell.test.tsx
  apps/heureka-next/src/components/Shell/Shell.tsx
  apps/heureka-next/src/components/Shell/ShellContent/ShellContent.tsx
  apps/heureka-next/src/components/Shell/ShellContent/index.ts
  apps/heureka-next/src/components/Shell/index.ts
  apps/heureka-next/src/components/Vulnerabilities/Vulnerabilities.test.tsx
  apps/heureka-next/src/components/Vulnerabilities/Vulnerabilities.tsx
  apps/heureka-next/src/components/Vulnerabilities/index.ts
  apps/heureka-next/src/constants/index.ts
  apps/heureka-next/src/index.scss
  apps/heureka-next/src/index.tsx
  apps/heureka-next/src/styles.scss
  apps/heureka-next/src/types/index.d.ts
  apps/heureka-next/tailwind.config.mjs
  apps/heureka-next/tsconfig.json
  apps/heureka-next/turbo.json
  apps/heureka-next/vite.config.ts
  apps/heureka-next/vitest.config.ts
  apps/heureka-next/vitest.setup.ts
  package-lock.json
Labels: heureka, app

#772 chore(oauth): adds method documentation and types refactoring
  .changeset/silly-hornets-invite.md
  packages/oauth/src/tokenSession.ts
Labels: enhancement, package

#782 fix(greenhouse): fix greenhouse error
  .changeset/tall-pans-divide.md
  apps/greenhouse/src/components/Extensions.tsx
Labels: greenhouse

#780 refactor(supernova): fix all typescript migration leftovers for Regions and Alerts
  .changeset/five-tigers-jump.md
  apps/supernova/src/components/StoreProvider.tsx
  apps/supernova/src/components/alerts/AlertDetail.tsx
  apps/supernova/src/components/regions/Region.tsx
  apps/supernova/src/components/regions/RegionsList.tsx
  apps/supernova/src/lib/createAlertsSlice.tsx
  apps/supernova/src/lib/createFiltersSlice.tsx
  apps/supernova/src/lib/createGlobalsSlice.tsx
  apps/supernova/src/lib/createSilencesSlice.tsx
  apps/supernova/src/lib/utils.ts
Labels: supernova, refactor
