Repository cloudoperators/juno, pull requests merged in 2025-01, with the labels that each got.

#700 fix(ui): ensure main and header container default for fullwidth behaviour is the same
  apps/template/src/App.tsx
  packages/ui-components/src/components/AppShell/AppShell.component.tsx
  packages/ui-components/src/components/AppShell/AppShell.test.tsx
  packages/ui-components/src/components/HeaderContainer/HeaderContainer.component.tsx
Labels: bug, ui-components

#679 feat(docs): add guide for creating an app with Juno UI Components
  docs/create-your-own-app.md
Labels: documentation

#708 feat(oauth): create token session
  .changeset/breezy-files-lick.md
  packages/oauth/README.md
  packages/oauth/__tests__/tokenSession.test.ts
  packages/oauth/src/index.ts
  packages/oauth/src/tokenSession.ts
Labels: enhancement, package

#715 chore(oauth): applies proposed type improvements
  .changeset/silent-mails-juggle.md
  packages/oauth/src/tokenSession.ts
Labels: enhancement, package

#709 chore(ui): fix test warnings
  .changeset/five-cats-sing.md
  packages/ui-components/src/components/ContextMenu/ContextMenu.test.tsx
  packages/ui-components/src/components/FormattedText/FormattedText.component.tsx
  packages/ui-components/src/components/NativeSelectOptionGroup/NativeSelectOptionGroup.test.tsx
  packages/ui-components/src/components/Panel/Panel.test.tsx
Labels: ui-components

#726 chore(ui): fix vite configuration for type output
  apps/carbon/src/App.tsx
  apps/carbon/src/components/AppContent/NoExtensionFound.tsx
  apps/carbon/src/components/ErrorBoundary/ErrorFallback.tsx
  apps/carbon/src/components/Navigation/NavigationItem.tsx
  apps/carbon/tsconfig.json
  apps/template/src/App.tsx
  apps/template/src/components/AppContent.tsx
  packages/ui-components/vite.config.ts
Labels: draft

#729 chore(deps): allow renovate to update lock file
  .github/renovate.json
  package-lock.json
  packages/ui-components/package.json
Labels: dependencies

#728 chore(greenhouse): adds a changeset to greenhouse to synch with dependent libs and apps
  .changeset/polite-hairs-nail.md
Labels: greenhouse

#735 chore(ui): add changeset for vite configuration fix to enable types in juno-ui-components
  .changeset/witty-buttons-compete.md
  packages/ui-components/src/components/Icon/Icon.component.tsx
Labels: package, ui-components

#733 feat(url-state-provider): export utilities to read/write state to the URL
  .changeset/wicked-lies-cover.md
  package-lock.json
  packages/url-state-provider/package.json
  packages/url-state-provider/src/index.ts
  packages/url-state-provider/src/v2/index.ts
  packages/url-state-provider/src/v2/utils.spec.ts
  packages/url-state-provider/src/v2/utils.ts
Labels: package

#742 chore(ci): adds npm install when releasing
  .changeset/orange-spoons-flash.md
  package.json
Labels: infrastructure

#706 chore(greenhouse): cleanup and refactor auth behaviour
  .github/workflows/deploy-pr-preview.yaml
  .gitignore
  apps/greenhouse/README.md
  apps/greenhouse/appProps.template.json
  apps/greenhouse/docker/Dockerfile
  apps/greenhouse/docker/README.md
  apps/greenhouse/docker/appProps.sample.json
  apps/greenhouse/docker/entrypoint.sh
  apps/greenhouse/src/Shell.jsx
  apps/greenhouse/src/Shell.test.jsx
  apps/greenhouse/src/components/AsyncWorker.jsx
  apps/greenhouse/src/components/Auth.jsx
  apps/greenhouse/src/components/AuthProvider.jsx
  apps/greenhouse/src/components/AuthProvider.test.jsx
  apps/greenhouse/src/components/Extensions.jsx
  apps/greenhouse/src/components/NotificationsContainer.jsx
  apps/greenhouse/src/components/StoreProvider.jsx
  apps/greenhouse/src/components/layout/ShellLayout.test.jsx
  apps/greenhouse/src/components/nav/PluginNav.jsx
  apps/greenhouse/src/hooks/useApi.js
  apps/greenhouse/src/hooks/useAuthentication.js
  apps/greenhouse/src/hooks/useUrlState.js
  apps/greenhouse/src/lib/plugin.js
  apps/greenhouse/src/lib/store.js
  apps/greenhouse/src/lib/store/createAuthDataSlice.js
  apps/greenhouse/src/lib/store/createGlobalsSlice.js
  apps/greenhouse/src/lib/store/index.js
  apps/greenhouse/turbo.json
Labels: enhancement, greenhouse, refactor

#749 chore(greenhouse): adds changeset to greenhouse
  .changeset/lazy-bugs-cross.md
Labels: greenhouse

#752 fix(build): output types to correct directory
  .changeset/four-kings-lay.md
  package-lock.json
  packages/communicator/vite.config.ts
  packages/k8s-client/vite.config.ts
  packages/messages-provider/vite.config.ts
  packages/oauth/vite.config.ts
  packages/template/vite.config.ts
  packages/url-state-provider/vite.config.ts
Labels: package

#734 chore(example): improve example app types (1st iteration)
  .changeset/fair-ears-shave.md
  apps/example/src/App.test.tsx
  apps/example/src/App.tsx
  apps/example/src/components/AppContent.tsx
  apps/example/src/components/AsyncWorker.tsx
  apps/example/src/components/ModalManager.tsx
  apps/example/src/components/MonorepoChecker.tsx
  apps/example/src/components/PanelManager.tsx
  apps/example/src/components/Playground.tsx
  apps/example/src/components/StoreProvider.tsx
  apps/example/src/components/TestModal.tsx
  apps/example/src/components/WelcomeView.tsx
  apps/example/src/components/auth/Avatar.tsx
  apps/example/src/components/auth/HeaderUser.tsx
  apps/example/src/components/peaks/Peaks.tsx
  apps/example/src/components/peaks/PeaksEdit.tsx
  apps/example/src/components/peaks/PeaksList.tsx
  apps/example/src/components/peaks/PeaksListItem.tsx
  apps/example/src/components/peaks/PeaksNew.tsx
  apps/example/src/components/shared/HintLoading.tsx
  apps/example/src/components/shared/HintNotFound.tsx
  apps/example/src/hooks/useQueryClientFn.ts
  apps/example/src/hooks/useUrlState.ts
  apps/example/src/index.tsx
  apps/example/src/lib/store/createAuthSlice.ts
  apps/example/src/lib/store/createGlobalsSlice.ts
  apps/example/src/lib/store/index.ts
  apps/example/src/mocks/browser.ts
  apps/example/src/mocks/db/index.ts
  apps/example/src/mocks/getHandlers.ts
Labels: app
