Repository cloudoperators/juno, pull requests merged in 2025-04, with the labels that each got.

#861 chore(deps): upgrade to vite 6.2
  .changeset/smooth-lobsters-play.md
  apps/carbon/package.json
  apps/doop/package.json
  apps/example/package.json
  apps/greenhouse/package.json
  apps/heureka/package.json
  apps/template/package.json
  package-lock.json
  packages/communicator/package.json
  packages/k8s-client/package.json
  packages/messages-provider/package.json
  packages/oauth/package.json
  packages/template/package.json
  packages/ui-components/package.json
  packages/url-state-provider/package.json
Labels: enhancement

#862 feat(heureka): adds an image version details info to service details page
  .changeset/angry-sloths-clean.md
  .changeset/fair-moose-check.md
  apps/heureka/src/components/Services/ServiceDetails/ServiceDetails.tsx
  apps/heureka/src/components/Services/ServicePanel/ServicePanel.test.tsx
  apps/heureka/src/components/Services/ServicePanel/ServicePanel.tsx
  apps/heureka/src/components/Services/ServicesList/ServicesList.tsx
  apps/heureka/src/components/Services/common/ImageVersionDetailsPanel/ImageVersionDetailsPanel.tsx
  apps/heureka/src/components/Services/common/ImageVersionDetailsPanel/index.ts
  apps/heureka/src/components/Services/common/ServiceImageVersions/ServiceImageVersions.tsx
  apps/heureka/src/components/Services/useFetchServiceImageVersions.ts
  apps/heureka/src/components/Services/utils.ts
  apps/heureka/src/components/common/Breadcrumb/Breadcrumb.tsx
  apps/heureka/src/generated/graphql.ts
  apps/heureka/src/graphql/Services/getServiceImageVersions.graphql
  apps/heureka/src/store/StoreProvider/stateReducer.ts
  apps/heureka/src/store/StoreProvider/types.ts
Labels: heureka

#867 fix(heureka): adds hover to all lists
  .changeset/sweet-trees-design.md
  apps/heureka/src/components/Services/ServiceDetails/ServiceDetails.tsx
  apps/heureka/src/components/Services/ServicesList/ServicesList.tsx
  apps/heureka/src/components/Services/common/ServiceImageVersions/ServiceImageVersions.tsx
  apps/heureka/src/components/Services/common/ServiceImageVersions/ServiceImageVersionsItem.tsx
  apps/heureka/src/styles.scss
Labels: heureka

#868 chore(heureka): cleanup imageversions types
  apps/heureka/src/components/Services/ServiceDetails/ServiceDetails.tsx
  apps/heureka/src/components/Services/common/ImageVersionDetailsPanel/ImageVersionDetailsPanel.tsx
  apps/heureka/src/components/Services/common/ServiceImageVersions/ServiceImageVersions.tsx
  apps/heureka/src/components/Services/common/ServiceImageVersions/ServiceImageVersionsItem.tsx
  apps/heureka/src/components/Services/utils.ts
  apps/heureka/src/store/StoreProvider/types.ts
Labels: heureka

#871 chore(heureka): refacotred ImageVersionDetailsPanel displaying details in grid and occurrences in boxes sorted by namespace
  apps/heureka/src/components/Services/ServiceDetails/ServiceDetails.tsx
  apps/heureka/src/components/Services/ServicePanel/ServicePanel.test.tsx
  apps/heureka/src/components/Services/ServicePanel/ServicePanel.tsx
  apps/heureka/src/components/Services/ServicesList/IssuesCount.tsx
  apps/heureka/src/components/Services/common/ImageVersionDetailsPanel/ImageVersionDetailsPanel.tsx
  apps/heureka/src/components/Services/common/ImageVersionDetailsPanel/ImageVersionIssueListItem.tsx
  apps/heureka/src/components/Services/common/ImageVersionDetailsPanel/ImageVersionIssuesList.tsx
  apps/heureka/src/components/Services/common/ImageVersionDetailsPanel/ImageVersionOccurrences.tsx
  apps/heureka/src/components/Services/common/ServiceImageVersions/ServiceImageVersions.tsx
  apps/heureka/src/components/Services/common/ServiceImageVersions/ServiceImageVersionsItem.tsx
  apps/heureka/src/components/Services/utils.ts
  apps/heureka/src/components/common/IssueIcon/IssueIcon.tsx
  apps/heureka/src/components/common/IssuesCountBadges/IssuesCountBadges.tsx
  apps/heureka/src/components/common/SectionContentHeading.tsx
  apps/heureka/src/generated/graphql.ts
  apps/heureka/src/graphql/Services/getServiceImageVersions.graphql
Labels: heureka

#872 feat(heureka): adds pagination and ordering on issues list as well as services list
  .changeset/chatty-moles-burn.md
  apps/heureka/src/components/Services/ServiceDetails/ServiceDetails.tsx
  apps/heureka/src/components/Services/Services.tsx
  apps/heureka/src/components/Services/ServicesList/IssuesCount.tsx
  apps/heureka/src/components/Services/ServicesList/ServiceListItem/ServiceListItem.tsx
  apps/heureka/src/components/Services/ServicesList/ServicesList.tsx
  apps/heureka/src/components/Services/common/ImageVersionDetailsPanel/ImageVersionIssuesList.tsx
  apps/heureka/src/components/Services/common/ServiceImageVersions/ServiceImageVersions.tsx
  apps/heureka/src/components/Services/useFetchServiceImageVersionIssues.ts
  apps/heureka/src/components/Services/useFetchServiceImageVersions.ts
  apps/heureka/src/components/Services/useFetchServices.ts
  apps/heureka/src/components/Services/useFetchServicesCounts.ts
  apps/heureka/src/components/Services/useFetchServicesIssuesCounts.ts
  apps/heureka/src/components/Services/utils.ts
  apps/heureka/src/components/Shell/Shell.tsx
  apps/heureka/src/components/common/IssuesCountBadges/IssuesCountBadges.tsx
  apps/heureka/src/generated/graphql.ts
  apps/heureka/src/graphql/Services/getServiceFilters.graphql
  apps/heureka/src/graphql/Services/getServiceImageVersionIssues.graphql
  apps/heureka/src/graphql/Services/getServiceImageVersions.graphql
  apps/heureka/src/graphql/Services/getServices.graphql
  apps/heureka/src/graphql/Services/getServicesIssuesCount.graphql
  apps/heureka/src/graphql/Services/servicesCounts.graphql
  apps/heureka/src/mocks/fixtures/services.ts
Labels: heureka

#876 chore(ui): changeset for major version release
  .changeset/rich-flowers-obey.md
Labels: dependencies

#891 chore(deps): remove @mdx-js/react from the codebase
  .changeset/friendly-mice-knock.md
  package-lock.json
  packages/ui-components/package.json
Labels: Technical Debt, ui-components, app, dependencies

#885 chore(deps): remove react-jss package from the codebase
  .changeset/perfect-weeks-grab.md
  package-lock.json
  packages/ui-components/package.json
Labels: Technical Debt, ui-components, app, dependencies

#895 chore(greenhouse): clarifies that isMock, when set, takes precedence over token-based authentication
  apps/greenhouse/README.md
Labels: greenhouse

#894 chore(heureka): refactors count badge component
  .changeset/calm-knives-type.md
  apps/heureka/src/components/ServiceDetails/ImageVersionDetailsPanel/index.tsx
  apps/heureka/src/components/ServiceDetails/index.tsx
  apps/heureka/src/components/Services/AllServicesIssuesCount.tsx
  apps/heureka/src/components/Services/ServicesList/ServiceListItem.tsx
  apps/heureka/src/components/Services/ServicesList/ServiceListItem/ServiceListItem.tsx
  apps/heureka/src/components/Services/ServicesList/index.test.tsx
  apps/heureka/src/components/Services/ServicesList/index.tsx
  apps/heureka/src/components/common/IssueCountsPerSeverityLevel.tsx
  apps/heureka/src/components/common/IssuesCountPerSeverityLevel.tsx
  apps/heureka/src/components/common/ServiceImageVersions/ServiceImageVersionsItem.tsx
  apps/heureka/src/components/common/ServiceImageVersions/index.tsx
  apps/heureka/src/components/common/SeverityCount.test.tsx
  apps/heureka/src/components/common/SeverityCount.tsx
Labels: heureka

#897 feat(url-state-provider): rollback url-state-provider to v1.3.2
  .changeset/quiet-numbers-scream.md
  apps/doop/package.json
  apps/doop/src/hooks/useUrlState.ts
  apps/greenhouse/package.json
  apps/greenhouse/src/components/core-apps/org-admin/components/clusters/hooks/useUrlState.ts
  apps/greenhouse/src/components/core-apps/org-admin/components/plugins/plugindefinitions/hooks/useUrlState.ts
  apps/greenhouse/src/components/core-apps/org-admin/components/plugins/plugins/hooks/useUrlState.ts
  apps/greenhouse/src/components/core-apps/org-admin/components/secrets/hooks/useUrlState.ts
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/hooks/useUrlState.ts
  apps/greenhouse/src/components/core-apps/org-admin/hooks/useUrlState.ts
  apps/greenhouse/src/hooks/useUrlState.ts
  apps/heureka-legacy/package.json
  apps/heureka-legacy/src/hooks/useUrlState.ts
  apps/supernova/package.json
  apps/supernova/src/hooks/useUrlState.ts
  package-lock.json
  packages/url-state-provider/README.md
  packages/url-state-provider/src/index.test.ts
  packages/url-state-provider/src/index.ts
  packages/url-state-provider/src/superstate.test.ts
  packages/url-state-provider/src/superstate.ts
Labels: app

#914 chore(heureka): improves issue description truncation in ImageVersionIssueListItem
  .changeset/silver-peaches-complain.md
  apps/heureka/src/components/ServiceDetails/ImageVersionDetailsPanel/ImageVersionIssuesList/ImageVersionIssueListItem/index.tsx
Labels: heureka

#909 chore(deps): update react-tabs to the latest react 19 compatible version (6.1.0)
  .changeset/bright-bikes-itch.md
  package-lock.json
  packages/ui-components/package.json
  packages/ui-components/src/components/MainTabs/MainTabs.component.tsx
  packages/ui-components/src/components/MainTabs/MainTabs.stories.tsx
  packages/ui-components/src/components/Tabs/Tabs.component.tsx
  packages/ui-components/src/components/Tabs/Tabs.stories.tsx
Labels: Technical Debt, ui-components, app, dependencies

#910 chore(heureka): proposes ideal UI queries for existing features
  apps/heureka/doc/idealApiQueries.md
Labels: heureka

#917 feat(heureka): adds search box for issues list in image version details panel
  .changeset/clean-mangos-cover.md
  apps/heureka/src/components/ServiceDetails/ImageVersionDetailsPanel/ImageVersionIssuesList/index.tsx
  apps/heureka/src/components/ServiceDetails/ImageVersionDetailsPanel/index.tsx
  apps/heureka/src/components/Services/useFetchServiceImageVersionIssues.ts
  apps/heureka/src/components/Services/useFetchServiceImageVersions.ts
  apps/heureka/src/generated/graphql.ts
  apps/heureka/src/graphql/Services/getServiceImageVersionIssues.graphql
Labels: heureka

#896 chore(deps): remove headlessui float and update headlessui to 2.1.10
  .changeset/modern-hornets-design.md
  apps/example/src/App.test.tsx
  apps/example/src/components/app-shell/header/HeaderUserMenu.tsx
  apps/heureka-legacy/src/App.test.tsx
  apps/heureka/src/components/common/Filters/index.test.tsx
  package-lock.json
  packages/ui-components/package.json
  packages/ui-components/src/components/ComboBox/ComboBox.component.tsx
  packages/ui-components/src/components/ComboBox/ComboBox.test.tsx
  packages/ui-components/src/components/ComboBoxOption/ComboBoxOption.component.tsx
  packages/ui-components/src/components/ComboBoxOption/ComboBoxOption.test.tsx
  packages/ui-components/src/components/Pagination/Pagination.test.tsx
  packages/ui-components/src/components/PopupMenu/PopupMenu.component.tsx
  packages/ui-components/src/components/PopupMenu/PopupMenu.stories.tsx
  packages/ui-components/src/components/PopupMenu/PopupMenu.test.tsx
  packages/ui-components/src/components/PopupMenu/index.ts
  packages/ui-components/src/components/Select/Select.component.tsx
  packages/ui-components/src/components/Select/Select.test.tsx
  packages/ui-components/src/components/SelectOption/SelectOption.component.tsx
  packages/ui-components/src/components/SelectOption/SelectOption.test.tsx
  packages/ui-components/src/index.ts
  packages/ui-components/tsconfig.json
Labels: Technical Debt, ui-components, app, dependencies

#921 chore(heureka): refactors Issue Count Handling and Add Total Counts per Service
  .changeset/nine-pets-mix.md
  apps/heureka/src/components/ServiceDetails/ImageVersionDetailsPanel/ImageVersionIssuesList/index.tsx
  apps/heureka/src/components/Services/AllServicesIssuesCount.tsx
  apps/heureka/src/components/Services/ServicesList/ServicePanel.test.tsx
  apps/heureka/src/components/Services/ServicesList/index.test.tsx
  apps/heureka/src/components/Services/ServicesList/index.tsx
  apps/heureka/src/components/Services/index.tsx
  apps/heureka/src/components/Services/useFetchServiceImageVersionIssues.ts
  apps/heureka/src/components/Services/useFetchServiceImageVersions.ts
  apps/heureka/src/components/Services/useFetchServices.ts
  apps/heureka/src/components/Services/useFetchServicesIssuesCounts.ts
  apps/heureka/src/components/Services/utils.ts
  apps/heureka/src/components/common/IssueCountsPerSeverityLevel.tsx
  apps/heureka/src/components/common/ServiceImageVersions/index.tsx
  apps/heureka/src/components/types.ts
  apps/heureka/src/generated/graphql.ts
  apps/heureka/src/graphql/Services/getServiceImageVersions.graphql
  apps/heureka/src/graphql/Services/getServices.graphql
  apps/heureka/src/graphql/Services/getServicesIssuesCount.graphql
  package-lock.json
Labels: heureka
