Repository cloudoperators/juno, pull requests merged in 2025-07, with the labels that each got.

#1077 chore(deps): vite dependencies update
  .changeset/fancy-rats-prove.md
  apps/carbon/package.json
  apps/doop/package.json
  apps/example/package.json
  apps/greenhouse/package.json
  apps/heureka/package.json
  apps/supernova/package.json
  apps/template/package.json
  packages/communicator/package.json
  packages/k8s-client/package.json
  packages/messages-provider/package.json
  packages/oauth/package.json
  packages/template/package.json
  packages/ui-components/package.json
  packages/url-state-provider/package.json
  pnpm-lock.yaml
Labels: dependencies

#1082 feat(ui): disable in-built confirm and cancel buttons
  .changeset/stale-towns-win.md
  apps/example/src/components/metrics/MetricsBox.tsx
  apps/example/src/components/peaks/list/CreatePeakModal.tsx
  packages/ui-components/src/components/Modal/Modal.component.tsx
  packages/ui-components/src/components/Modal/Modal.stories.tsx
  packages/ui-components/src/components/Modal/Modal.test.tsx
  packages/ui-components/src/components/ModalFooter/ModalFooter.component.tsx
  packages/ui-components/src/components/ModalFooter/ModalFooter.stories.tsx
  packages/ui-components/src/components/ModalFooter/ModalFooter.test.tsx
Labels: package, ui-components, app, example-app

#1033 chore(docs): create ADR for client-side routing
  docs/decisions/004_client_side_routing.md
Labels: documentation

#1089 chore(greenhouse): show a Team's members from the Team status
  .changeset/brown-snails-notice.md
  .gitignore
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/components/team/TeamList.test.tsx
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/components/team/TeamList.tsx
  apps/greenhouse/src/components/core-apps/org-admin/components/teams/hooks/useAPI.ts
Labels: greenhouse

#1088 chore(docs): enhance storybook code examples
  .changeset/chubby-sheep-fry.md
  packages/ui-components/src/components/Grid/Grid.stories.tsx
  packages/ui-components/src/components/GridColumn/GridColumn.stories.tsx
  packages/ui-components/src/components/Icon/Icon.stories.ts
  packages/ui-components/src/components/LoadingIndicator/LoadingIndicator.stories.tsx
  packages/ui-components/src/components/Modal/Modal.stories.tsx
  packages/ui-components/src/components/ModalFooter/ModalFooter.stories.tsx
  packages/ui-components/src/components/Panel/Panel.stories.tsx
  packages/ui-components/src/components/PanelBody/PanelBody.stories.tsx
  packages/ui-components/src/components/PanelFooter/PanelFooter.stories.tsx
  packages/ui-components/src/components/Stack/Stack.stories.tsx
Labels: documentation, package, ui-components

#1094 feat(heureka): updates types to resolve schema breaking change
  .changeset/thick-needles-accept.md
  .github/licenserc.yaml
  apps/heureka/codegen.ts
  apps/heureka/src/generated/graphql.ts
Labels: heureka

#1099 test(heureka): skip test that randomly times out
  apps/heureka/src/components/common/Filters/index.test.tsx
Labels: heureka, app
