Repository cloudoperators/juno, pull requests merged in 2025-06, with the labels that each got.

#997 fix(greenhouse): fix markdown rendering after React19 upgrade aligning react-markdown and remark-gfm
  .changeset/ninety-masks-stand.md
  apps/greenhouse/package.json
  apps/greenhouse/src/components/core-apps/org-admin/components/plugins/plugindefinitions/components/PluginDefinitionDetail.tsx
  pnpm-lock.yaml
Labels: greenhouse, dependencies

#1005 chore(ui): fix IntroBox and Code Storybook
  .changeset/three-rabbits-accept.md
  packages/ui-components/src/components/Code/Code.component.tsx
  packages/ui-components/src/components/FormattedText/FormattedText.stories.tsx
  packages/ui-components/src/components/IntroBox/IntroBox.stories.tsx
  packages/ui-components/src/components/Message/Message.stories.ts
Labels: package, ui-components

#1008 chore(ci): add required permissions field to GitHub Actions workflows for CodeQL compliance
  .github/workflows/build-push-greenhouse-image.yaml
  .github/workflows/build-push-supernova-image.yaml
  .github/workflows/ci-title-lint-check.yaml
  .github/workflows/shared-detect-pkg-changes.yaml
Labels: infrastructure

#1019 chore(ci): enable Renovate for heureka with scoped config
  .github/renovate.json
Labels: heureka, infrastructure

#1017 fix(heureka): allow changing appProps.json url
  .changeset/breezy-baths-switch.md
  .github/scripts/build-vite-app.sh
  .github/workflows/deploy-pr-preview.yaml
  apps/heureka/index.html
Labels: heureka

#1027 fix(heureka): remove no image version message
  .changeset/weak-vans-cough.md
  apps/heureka/src/components/Service/ImageVersionDetailsPanel/index.tsx
Labels: heureka, app

#1025 test(ui): fix unit tests output
  .changeset/lovely-mice-sneeze.md
  packages/ui-components/src/components/SecretText/SecretText.test.tsx
Labels: Technical Debt

#1031 test(heureka): fix flaky tests
  apps/heureka/src/components/Services/Services.test.tsx
  apps/heureka/src/components/Services/ServicesList/ServicePanel.test.tsx
  apps/heureka/src/components/Services/ServicesList/index.test.tsx
  apps/heureka/src/components/common/Filters/FilterSelect.test.tsx
  apps/heureka/src/components/common/Filters/index.test.tsx
Labels: heureka

#1026 chore(ci): enhance Trivy Output Readability with Table Format (Dual Scan with Caching)
  .github/workflows/build-push-greenhouse-image.yaml
  .github/workflows/build-push-supernova-image.yaml
Labels: greenhouse, supernova, infrastructure

#1002 fix(example): fix typo regression
  apps/example/src/components/pages/PeakDetailPage.tsx
Labels: app, example-app

#1034 test(ui): fix the rest of unit test errors
  .changeset/shiny-cougars-draw.md
  packages/ui-components/src/components/ComboBox/ComboBox.test.tsx
  packages/ui-components/src/components/Pagination/Pagination.test.tsx
  packages/ui-components/src/components/Select/Select.test.tsx
Labels: Technical Debt, refactor

#1040 fix(apps): fix jsdom css parsing error
  .changeset/legal-breads-speak.md
  apps/carbon/package.json
  apps/doop/package.json
  apps/example/package.json
  apps/heureka/package.json
  apps/supernova/package.json
  apps/template/package.json
  packages/communicator/package.json
  packages/template/package.json
  packages/ui-components/package.json
  packages/url-state-provider/package.json
  pnpm-lock.yaml
Labels: heureka, dependencies
