Repository cloudoperators/juno, pull requests merged in 2025-03, with the labels that each got.

#796 chore(supernova): reduce all lints
  .changeset/silver-dryers-report.md
  apps/supernova/eslint.config.mjs
  apps/supernova/src/App.tsx
  apps/supernova/src/api/alerts.ts
  apps/supernova/src/api/silences.ts
  apps/supernova/src/components/StoreProvider.tsx
  apps/supernova/src/components/alerts/AlertSilences.tsx
  apps/supernova/src/components/alerts/AlertsList.tsx
  apps/supernova/src/components/alerts/AlertsTab.tsx
  apps/supernova/src/components/alerts/shared/AlertLabels.tsx
  apps/supernova/src/components/alerts/shared/AlertSilencesList.tsx
  apps/supernova/src/components/silences/CreateSilence.tsx
  apps/supernova/src/components/silences/CreateSilenceAdvanced.tsx
  apps/supernova/src/components/silences/RecreateSilence.tsx
  apps/supernova/src/components/silences/SilenceScheduled.tsx
  apps/supernova/src/components/silences/SilencesList.tsx
  apps/supernova/src/components/silences/silenceHelpers.ts
  apps/supernova/src/hooks/useBoundQuery.ts
  apps/supernova/src/hooks/useUrlState.ts
  apps/supernova/src/index.tsx
  apps/supernova/src/lib/createFiltersSlice.tsx
  apps/supernova/src/lib/createSilencesSlice.tsx
  apps/supernova/src/lib/createUserActivitySlice.tsx
  apps/supernova/src/lib/utils.ts
  package-lock.json
  package.json
Labels: supernova, refactor

#824 feat(heureka): adds initialFilters support group as default filter in services
  .changeset/chilled-fireants-joke.md
  apps/heureka/README.md
  apps/heureka/appProps.template.json
  apps/heureka/src/App.tsx
  apps/heureka/src/components/Issues/Issues.tsx
  apps/heureka/src/components/Services/Services.tsx
  apps/heureka/src/components/Shell/Shell.tsx
Labels: enhancement, heureka

#828 chore(greenhouse): adds changeset to integrate new version of heureka into greenhouse
  .changeset/polite-falcons-perform.md
Labels: greenhouse

#826 feat(heureka): adds service overview panel
  .changeset/clean-rules-check.md
  apps/heureka/src/components/Services/ServicePanel/ServicePanel.test.tsx
  apps/heureka/src/components/Services/ServicePanel/ServicePanel.tsx
  apps/heureka/src/components/Services/ServicePanel/index.ts
  apps/heureka/src/components/Services/Services.test.tsx
  apps/heureka/src/components/Services/Services.tsx
  apps/heureka/src/components/Services/ServicesList/ServiceListItem/ServiceListItem.tsx
  apps/heureka/src/components/Services/ServicesList/ServicesList.test.tsx
  apps/heureka/src/components/Services/ServicesList/ServicesList.tsx
  apps/heureka/src/components/Services/useFetchServiceImageVersions.ts
  apps/heureka/src/components/Services/utils.ts
  apps/heureka/src/components/common/Helpers/helpers.ts
  apps/heureka/src/components/common/Helpers/index.ts
  apps/heureka/src/generated/graphql.ts
  apps/heureka/src/graphql/Services/getServiceImageVersions.graphql
  apps/heureka/src/mocks/fixtures/serviceImageVersions.json
  apps/heureka/src/mocks/handlers.ts
Labels: heureka

#833 fix(juno): fix k8s-client watch error
  .changeset/pretty-crabs-fly.md
  packages/k8s-client/eslint.config.mjs
  packages/k8s-client/src/watch.ts
Labels: bug

#843 refactor(juno): fix typescript errors (k8s client)
  .changeset/healthy-needles-return.md
  packages/k8s-client/eslint.config.mjs
  packages/k8s-client/src/apiErrorHandler.ts
  packages/k8s-client/src/client.ts
  packages/k8s-client/src/request.ts
  packages/k8s-client/src/watch.ts
  packages/k8s-client/test/client.test.ts
  packages/k8s-client/test/request.test.ts
Labels: refactor

#855 chore(juno): update vite version to 6.0
  .changeset/tricky-carrots-appear.md
  apps/carbon/package.json
  apps/doop/package.json
  apps/example/package.json
  apps/greenhouse/package.json
  apps/heureka/package.json
  apps/template/package.json
  package-lock.json
  packages/communicator/package.json
  packages/k8s-client/package.json
  packages/messages-provider/package.json
  packages/oauth/package.json
  packages/template/package.json
  packages/ui-components/package.json
  packages/url-state-provider/package.json
Labels: enhancement

#845 chore(ui): export all component types
  .changeset/quick-coats-shake.md
  packages/ui-components/src/components/ContentContainer/ContentContainer.component.tsx
  packages/ui-components/src/components/ContentHeading/ContentHeading.component.tsx
  packages/ui-components/src/index.ts
Labels: enhancement, package, ui-components

#853 chore(heureka): changes details access within services list from icon to button for better clarity
  .changeset/heavy-steaks-beg.md
  apps/heureka/src/components/Services/ServicesList/ServiceListItem/ServiceListItem.tsx
Labels: heureka

#858 chore(deps): upgrade to react 18.3
  .changeset/fast-moose-sniff.md
  apps/carbon/package.json
  apps/doop/package.json
  apps/example/package.json
  apps/greenhouse/package.json
  apps/heureka-legacy/package.json
  apps/supernova/package.json
  apps/template/package.json
  docs/create-your-own-app.md
  package-lock.json
  packages/messages-provider/package.json
  packages/ui-components/package.json
Labels: Technical Debt, app, dependencies

#852 chore(heureka): fixes spaces in breadcrumb and services list pills
  .changeset/metal-rocks-allow.md
  apps/heureka/src/components/Services/ServicesList/ServiceListItem/ServiceListItem.tsx
  apps/heureka/src/components/common/Breadcrumb/Breadcrumb.tsx
Labels: heureka
